@import url('styles.css');

.laf-product-details-top img{
    width: 220px;
}

.laf-product-details-bottom{
    padding: 10px 20px 20px 20px;
}

.laf-product-details-bottom h3{
    color: #0CAF1D;
    font-size: 20px;
}

.laf-product-details-bottom h4 {
    color: #636363;
    font-size: 12px;

}

.laf-product-details-bottom p{
    color: #636363;
    font-size: 12px;
    margin: 10px 0;
}

.laf-category-container{
    display: flex;
    
}

.laf-category{
    padding: 0 20px;
    margin-right: 20px;
    border-radius: 4px;
    background-color: #636363;
    height: 30px;
    color: white;
    font-weight: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laf-product-details-top{
   
    padding: 10px;
    display: flex;
   justify-content: center;
  
}

#product-details-container-section{
    padding: 20px 0;
}