@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --dsc-color-bg-primary: #e8e8e8;
    --dsc-color-bg-secondary: #ffe500;
    --dsc-color-bg-tertiary: #636363;
    --dsc-color-bg-quaternary: #0caf1d;
  
    --dsc-color-card-bg: #fff;
    --dsc-color-card-border: #d9d9d9;
  
    --dsc-color-btn-primary: #3483fa;
    --dsc-color-btn-inverse: #fff;
  
    --dsc-color-font-primary: #636363;
    --dsc-color-font-secondary: #0caf1d;
    --dsc-color-font-tertiary: #fff;
    --dsc-color-font-placeholder: #d9d9d9;
  
    --dsc-color-error: #f33;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sants";
}

html, body {

    background-color: var(--dsc-color-bg-primary);
   
}

main{
    padding: 0 10px;
}

 a, a:hover {
    color: unset;
    text-decoration: none;
}

/*-------------------------------------------*/
/*generic styles*/
.laf-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; /*Alinhar ao centro */
   
   
}
.laf-mb20{
    margin-bottom: 20px;
}
.laf-mt20{
    margin-top: 20px;
}

/*-------------------------------------------*/
/*header styles*/
header{
    background-color: var(--dsc-color-bg-secondary);
    display: flex;
    align-items: center;
    padding: 0 20px;
}
nav {
    color: var(--dsc-color-bg-tertiary);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 14px;
    font-weight: 700;
}


nav a {
    font-size: 24px;
}

.laf-logged-user{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.laf-logged-user p {
    font-size: 12px;
}

/*-------------------------------------------*/
/*card styles*/

.laf-card{
    background-color: var(--dsc-color-card-bg);
    border-radius:  4px;
    border: 1px solid var( --dsc-color-font-placeholder);

}

.laf-line-bottom{
    border-bottom: solid var( --dsc-color-font-placeholder);
}


/*-------------------------------------------*/
/*btn styles*/
.laf-btn-container{
    width: 100%;
    display: grid;
    grid-gap: 20px;
}

@media (min-width: 576px){
    .laf-btn-container{
        width: 220px;
    }
}

.laf-btn{
    width: 100%;
    height: 42px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.laf-btn-blue{
    border: none;
    background-color: var(--dsc-color-btn-primary);
    color: var(--dsc-color-bg-primary);
}

.laf-btn-white{
    background-color: var(dsc-color-bg-primary);
    color:var ( --dsc-color-btn-primary);
    border: 1px solid var( --dsc-color-btn-primary);
}

.btn-next-container{
    border: 1px solid var(--dsc-color-btn-primary);
    padding: 10px;
    border-radius: 4px;
    color: var(--dsc-color-btn-primary);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.laf-search-bar{
    height: 40px;
    display: flex;
    color: var(--dsc-color-font-primary);
}

.laf-search-bar button .laf-search-bar input {
  border: 1px solid var(--dsc-color-card-border);
}

.laf-search-bar button[type="submit"]{
    border-right: none;
    border-radius: 4px 0 0 4px;

}
.laf-search-bar button[type="reset"]{
    border-left: none;
    border-radius: 0 4px 4px 0;

}

.laf-search-bar input{
    width: calc(100% - 80px);
    border-left: none;
    border-radius: none;
    padding: 0 10px;
    font-size: 16px;
    color: var(--dsc-color-font-placeholder);
   
}

.laf-search-bar button{
    width: 40px;
    color: var(--dsc-color-font-primary);
}
.laf-search-bar input:focus{
    outline: none;
}

.laf-search-bar input::placeholder{
    color: var(--dsc-color-font-placeholder);
}

/*-------------------------------------------*/
/*form styles*/

.laf-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.laf-form h2{
    font-size: 16px;
    color: var(--dsc-color-font-primary);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.laf-form-controls-container{
    display: grid;
    grid-gap: 20px;
    margin: 20px 0;
    
}

.laf-form-control{
    width: 100%;
    padding: 0 20px; 
    height: 40px;
    font-size: 16px;
    color: var(--dsc-color-font-primary);
    border-radius: 4px;
    border: 1px solid var(--dsc-color-bg-tertiary);
}

.laf-form-control:focus{
    outline: none;
}

.laf-form-control::placeholder{
    color: var(--dsc-color-font-placeholder);
}

.laf-login-form-buttons{
    width: 100%;
}


@media (min-width: 576px){
    .laf-form h2{
        font-size: 24px;
    }
}

.laf-form-error{
    color: var(--dsc-color-error);
    font-size: 12px;
    padding-left: 4px;
}

.laf-input-error{
    border: 1px solid var(--dsc-color-error);
}
