@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sants";
}

html, body {

    background-color: #E8E8E8;
   
}

 a, a:hover {
    color: unset;
    text-decoration: none;
}

nav {
    color: #636363;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: #FFE500;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; /*Alinhar ao centro */
}

.card{
    background-color: white;
    border-radius:  4px;
    border: 1px solid #D9D9D9;

}

.line-bottom{
    border-bottom: solid #D9D9D9;
}


.btn-container{
    width: 220px;
    display: grid;
    grid-gap: 20px;
}

.btn{
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-blue{
    background-color: blue;
    color: white;
}

.btn-white{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}
.mb20{
    margin-bottom: 20px;

}