@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --dsc-color-bg-primary: #e8e8e8;
    --dsc-color-bg-secondary: #ffe500;
    --dsc-color-bg-tertiary: #636363;
    --dsc-color-bg-quaternary: #0caf1d;
  
    --dsc-color-card-bg: #fff;
    --dsc-color-card-border: #d9d9d9;
  
    --dsc-color-btn-primary: #3483fa;
    --dsc-color-btn-inverse: #fff;
  
    --dsc-color-font-primary: #636363;
    --dsc-color-font-secondary: #0caf1d;
    --dsc-color-font-tertiary: #fff;
    --dsc-color-font-placeholder: #d9d9d9;
  
    --dsc-color-error: #f33;

}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sants";
}

html, body {

    background-color: var(--dsc-color-bg-primary);
   
}

 a, a:hover {
    color: unset;
    text-decoration: none;
}

nav {
    color: var(--dsc-color-bg-tertiary);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: var(--dsc-color-bg-secondary);
    display: flex;
    align-items: center;
}

.laf-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; /*Alinhar ao centro */
}

.laf-card{
    background-color: var(--dsc-color-card-bg);
    border-radius:  4px;
    border: 1px solid var( --dsc-color-font-placeholder);

}

.laf-line-bottom{
    border-bottom: solid var( --dsc-color-font-placeholder);
}


.laf-btn-container{
    width: 220px;
    display: grid;
    grid-gap: 20px;
}

.laf-btn{
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laf-btn-blue{
    background-color: var(--dsc-color-btn-primary);
    color: var(dsc-color-bg-primary);
}

.laf-btn-white{
    background-color: var(dsc-color-bg-primary);
    color:var ( --dsc-color-btn-primary);
    border: 1px solid var( --dsc-color-btn-primary);
}
.laf-mb20{
    margin-bottom: 20px;

}